<div class="content">
  <section class="page-header">
    <h1 class="title-text">
      This is your Sentbox!
    </h1>
    <i>
      no regrets!
    </i>
  </section>

  <section class="main-content">
    <div  class="main-content-table">
      <table>
        <tr class="unread message-item">
          <td>To</td>
          <td>Title</td>
          <td>Body preview</td>
        </tr>

        <% @sent_messages.each do |message| %>

        <tr class="read message-item">
          <td><%= message.receiver.username %></td>
          <td>
            <a href="<%= message_url(message) %>">
              <%= message.title %>
            </a>
          </td>
          <td><%= message.body[0..99] %></td>
        </a>
      </tr>

      <% end %>
    </table>
  </div>


</section>

</div>


