<h1>Sentbox</h1>

<table class="messages">
  <% @sent_messages.each do |message| %>

    <tr class="unread message-item">
      <a href="<%= message_url(message) %>">Link here for now
      <td><%= message.receiver.username %></td>
      <td><%= message.title %></td>
      <td><%= message.body[0..99] %></td>
      </a>
    </tr>

  <% end %>
</table>
