
<div class="content">

  <section class="page-header">
    <h1 class="title-text">
      Welcome to Writer's Notebook:
   </h1>
   <i class="tagline">
    A 
    <a href="gist.github.com">gist.github.com</a>
     clone for
    writers to post character ideas, add details,
    and socially network.
   </i>


    <form action="<%= session_url %>" method="post">
    <%= auth_token %>
                  <input type="hidden" name="user[username]" value="Buddy">
                  <input type="hidden" name="user[password]" value="buddy01">
                <p><input type="submit" value="Login as Demo User"></p>


    </form>

  </section>

  <section class="main-content">

<form action="<%= session_url %>" method="post">
<%= auth_token %>
        <ul class="info-vertical">
          <li>
            <label>Username
              <input type="text" name="user[username]" >
              </label>
          </li>
          <li>
            <label>Password
              <input type="password" name="user[password]">
            </label>
          </li>
          <li>
            <p><input type="submit" value="Sign In!"></p>
          </li>
        </ul>
</form>



  </section>
</div>
