<li class='comment'>

<form action="<%= character_comments_url(@character) %>"
  method="post">
  <%= auth_token %>
  <header class="item-header group">
  <input type="hidden"
  name="comment[author_id]"
  value="<%= current_user.id %>">

  <input type="hidden"
  name="comment[character_id]"
  value="<%= @character.id %>">

<div class="info">
  <label for="comment-body">Write a Comment</label>
</div>
</header>

<div class="item-body-text">
  <input type="text" name="comment[body]" id="comment-text">

</div>

<p><input class="button" type="submit" value="Add Comment"></p>


</form>

</li>