<section class='new-character-detail'>

  <label for=""></label>
  <input type="text"
  name="character_detail[title]"
  value="" id="">

  <label for=""></label>
  <input type="text"
  name="character_detail[body]"
  value="" id="">


</section>