<section class='new-character-detail'>

  <label for="detail-title">Detail Title</label>
  <input type="text"
  name="character_detail[<%= @detail_total %>][title]"
  value="" id="detail-title">

  <label for="detail-body">Detail Body</label>
  <input type="text"
  name="character_detail[<%= @detail_total %>][body]"
  value="" id="detail-body">


</section>

