<li>
  <% unless notification.is_read? %>
    <strong>New</strong>
  <% end %>
  <small><%= notification.created_at %></small>
  <a href="<%= notification_url(notification) %>"><%= notification.text %></a>
  <button>ADD --delete</button>
</li>