
<div class="content">

  <section class="page-header">
   <h1 class="title-text">
      Welcome to Writer's Notebook:
   </h1>
   <i class="tagline">
    a site for
    writers to upload their character ideas
    and socially network with other writers.
   </i>
  </section>

  <section class="main-content">


      <form action="<%= users_url %>" method="post">
      <%= auth_token %>
        <ul class="info-vertical">
          <li>
            <label>Email
              <input type="text" name="user[email]">
            </label>
          </li>
          <li>
            <label>Username
              <input type="text" name="user[username]" value="<%= @user.username %>" >
              </label>
          </li>
          <li>
            <label>Password
              <input type="password" name="user[password]" value="<%= @user.password %>" >
            </label>
          </li>
          <li>
            <p><input type="submit" value="Sign Up!"></p>
          </li>
        </ul>
      </form>

  </section>
</div>




