<h2 class='header'>Sign Up Here!</h2>

<form action="<%= users_url %>" method="post">
<%= auth_token %>

<label>Email
  <input type="text" name="user[email]">
</label>

<label>Username
  <input type="text" name="user[username]" value="<%= @user.username %>" >
</label>

<label>Password
  <input type="password" name="user[password]" value="<%= @user.password %>" >
</label>

  <p><input type="submit" value="Sign Up!"></p>
</form>


