
<li class='detail'>
  <header class="item-header group">
    <div class="info">
      <%= character_detail.title %>
    </div>
  </header>

  <div class="item-body-text">
    <%= character_detail.body %>
  </div>

</li>
