<section class='edit-character-detail'>
  <label for="detail-title">Detail Title</label>
  <input type="text"
  name="character_detail[<%= @detail_num %>][title]"
  value="<%= @details[@detail_num].title %>" id="detail-title">

  <label for="detail-body">Detail Body</label>
  <input type="text"
  name="character_detail[<%= @detail_num %>][body]"
  value="<%= @details[@detail_num].body %>" id="detail-body">

  NEED DELETE BUTTON HERE

</section>

