<li class='detail'>
<header class="item-header group">
  <label for="detail-title">Detail Title</label>
  <input type="text"
  name="character_detail[<%= @detail_num %>][title]"
  value="" id="detail-title">
</header>

<div class="item-body-text">
  <label for="detail-body">Detail Body</label>
  <textarea name="character_detail[<%= @detail_num %>][body]"
  value="" id="detail-body"></textarea>
 <!--  <input type="text"
  name="character_detail[<%= @detail_num %>][body]"
  value="" id="detail-body"> -->
</div>


</li>

<li>
  <p> </p>
</li>