  <ul class="sidebar-box">
   <!-- again use counter caches -->

  <li>
    <a href='#{link}'>
      All Characters <i class='count'>charactersCount</i>
    </a>
  </li>

  <li>
    <a href='#{link}'>
      Forked <i class='count'>forkedCharactersCount</i>
    </a>
  </li>

  <li>
    <a href='#{link}'>
      Starred <i class='count'>starredCharactersCount</i>
    </a>
  </li>

  </ul>

  <ul class="sidebar-box">
    <li>Public</li>
    <li>Private</li>
  </ul>