/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  font: inherit;
  font-family: sans-serif !important;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;

}
//http://fantasystock.deviantart.com/art/Seamless-Parchment-Texture-58517493?q=boost%3Apopular%20in%3Aresources%20seamless&qo=10
body {
	background-image: image-url('tan_with_words.jpg');
}

.click {

}

.click:hover {
  cursor: pointer;
  background: lightblue;
}

a:hover {
  background: lightblue;
}

/*.button_to:hover {
  cursor: pointer;
}*/

input {
  border: 1px solid black;
  padding: 0px 3px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.page-header {
  display: block;
  padding: 20px 0px;
  margin: auto;
  width: 1000px;
}

.title-text{
  font-size: 24px;
}

.info {
  float: left;
  margin-top: 5px;
}

.info > li {
  float: left;
}

.info > li > a {
  padding: 5px 5px;
}
.social {
  float: right;
}

.social > li {
  float: left;
  padding: 5px 5px;

}
.header-text {

}

.sidebar {
  float: left;
  width: 200px;
  margin: auto;
}

.sidebar-box {
  border: 1px solid black;
  width: 165px;
  box-shadow: 0 0 1em black;
}

.sidebar-box > li {
  font-weight: bold;

  border-bottom: 1px solid black;
  text-align: right;
}

.sidebar-box > li > a {
  padding: 5px;
  display: block;
}

/*could also be i .tagline*/
.sidebar > i {
  padding-bottom: 10px;
  display: block;
  font-style: italic;
  font-size: 14px;
}

.count {
  font-weight: normal;
  padding: 2px 5px;
  background: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.content {
  width: 1000px;
  margin: auto;
}

.main-content {
  float: left;
  width: 800px;
  display: block;
  margin: auto;
}

.main-content-list {


}

.main-content-list > li {
 margin: auto;
 border: 1px solid black;
 margin-bottom: 20px;
}

.main-content-table {

}

.main-content-table > tr {

}

.main-content-table > .unread {

}

.main-content-table > .read {

}

.item-header {
  background: #00cc00;
  padding: 3px;
}

.item-body-text {
  padding: 3px;
}

.item-body-text > input {
  width: 442px;
  height: auto;

}

.body-text {
  margin-top: 20px;
}

/**/

.navbar {
  background: #00cc00;
  width: 1000px;
  margin: auto;
}

.navbar-wrap {
  background: #00cc00;
  border-bottom: 1px solid black;
}

.errors {

}

.dropdown-list {

}

.name-wrap {

}

.info-vertical {
  float: left;
}

.comment {
  width: 450px;
}

.dropdown-item {
  position: absolute;
  display: none;
  font-size: 12px;
  width: 500px;
  left: -200px;
}

.dropdown-list {
  position: relative;
}

.dropdown-list:hover .dropdown-item {
  position: absolute;
  display: block;
}
